<!-- {{#if hovering}}
  <p>hovered!</p>
{{else}}
  <p {{action "something" on="mouseEnter"}}>testing something</p>
{{/if}}
 -->

<div class="col-xs-4">
    <div class="post">
      {{#simple-modal enabled=true}}
      <img class="post-image" src='{{post.photo}}'>
      {{post.article}}
      {{/simple-modal}}
      <!-- {{#link-to 'post' post.id}}
        <img class="post-image" src='{{post.photo}}'>
      {{/link-to}} -->
      <div>
        <h2 id="post">{{post.headline}}</h2>
      </div>

    </div>
</div>


{{yield}}
