<div class="single-post">
  <h2>{{post.headline}}</h2>
  <span id="by">by {{post.author}}</span>, {{post.date}}<br /><br />
  <img class="post-img" src='{{post.photo}}'><br />
  {{post.article}}
</div>
